doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | Dec-2021
            br
            |
            a(href="http://example.com") Click here